<div class="form__control" [class.form__control--disabled]="disabled">

  <!-- Prefix Иконка -->
  @if (prefixIcon()) {
    <div class="form__icon form__icon--prefix">
      <img [ngSrc]="prefixIcon()!" width="24" height="24" alt="prefix icon" />
    </div>
  }

  <input
    class="form__input"
    [type]="type()"
    [placeholder]="placeholder()"
    [disabled]="disabled"
    [value]="innerValue"
    (input)="handleInput($event)"
    (blur)="onTouched()" />

  <!-- Postfix Иконка -->
  @if (postfixIcon()) {
    <div class="form__icon form__icon--postfix">
      <img [ngSrc]="postfixIcon()!" width="24" height="24" alt="postfix icon" />
    </div>
  }

</div>
