<div class="form__control" [class.form__control--disabled]="disabled">
  @if (iconUrl()) {
    <div class="form__icon">
      <img [ngSrc]="iconUrl()!" width="30" height="30" [alt]="'password icon'" />
    </div>
  }

  <input
    class="form__input"
    [type]="type"
    [placeholder]="placeholder()"
    [disabled]="disabled"
    [value]="innerValue"
    (input)="handleInput($event)"
    (blur)="onTouched()" />

  <div class="form__button--container">
    <button class="form__button" type="button" (click)="onButtonToggleClick()" [disabled]="disabled">
      <img [ngSrc]="buttonIcon" width="30" height="30" [alt]="'toggle visibility'" />
    </button>
  </div>
</div>
